p.hjm1{
    color: #00aaaa;
}
.hjm1{
    font-weight: normal;
    font-family: "Impact";
}
h1#ok{
    color: blueviolet;
}
h2{
    color: rebeccapurple !important;
}
h2{
    color: magenta;
}